/* SECTION UNDER-CONTRUCTION */
.under-construction {
   height: 100vh;
   width: 100%;
   background-image: url("https://c.pxhere.com/photos/6c/69/traffic_sign_warning_roadwork_traffic_sign_road_roadsign_transport-608677.jpg!d");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.under-construction > article {
   
   margin: 1rem;
   padding: 0.5rem;
   text-align: center;
   border-radius: 0.5rem;
   background-color: var(--background-text-color-opacity);
}

article > h1 {
   font-size: 2rem;
}


/* SECTION NEXT-ROUTES */

.next-routes {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
   background-color: #3F85DF;
}

.next-routes_image {
   position: relative;
   top: 10vh;
   background-image: url(../../assets/icons/reloj-de-arena.gif);
   background-size: cover;
   background-position: center;
   width: 90%;
   height: 80vh;
   border-radius: 5rem;
   text-decoration: none;
   color: #fff;
}

.next-routes_image_content {
   width: 100%;
   height: 100%;
   background-color: #00000052;
   cursor: pointer;
   border-radius: 5rem;

}


.next-routes_image_title {
   font-size: 3rem;
   position: relative;
   right: 4.5%;
   width: 20%;
   margin: 0;
}

.next-routes_image_name_route {
   font-size: 3rem;
   text-align: center;
   word-break: break-word;
}

.next-routes_cards {
   top: -5rem;
   left: -5%;
   width: 110%;
   height: 30vh;
   position: relative;
   
}

.next-routes_button {
   position: absolute;
   top: calc(50% - 20px);
   display: none;
}

.next-routes_button > svg {
   cursor: pointer;
   background-color: #000000;
   border-radius: 2rem;
   padding: 0.4rem;
   transition: background-color 300ms linear ;
}

.next-routes_button > svg:hover { 
   background-color: #00000057;

}

.next-routes_cards_content {
   display: flex;
   height: 100%;
   gap: 0 2rem;
   width: 100%;
   overflow-x: auto;
   scroll-behavior: smooth;
   scrollbar-width: none;
}

.next-routes_card {
   cursor: pointer;
   flex: 0 0 auto; 
   border-radius: 2rem;
   width: 60vw; 
   background-image: url(../../assets/icons/reloj-de-arena.gif);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50%;
   margin-bottom: 1rem;
}

@media screen and (min-width:50rem) {
   
   .next-routes_button  {
      display: block;
   }

   .next-routes_card {
      width: 40vw;
   }
}


/* Utilities */
.to-the-left {
   left: 3%;
}
.to-the-right {
   right: 3%;
}
