@import url("./../dist/hamburgers.css");

.btn-hamburguer {
   outline: medium solid #020202;
   position: fixed;
   bottom: 0.5rem;
   right: 1rem;
   background-color: #ffffff;
   border-radius: 50%;
   z-index: 9500;
   
}

@media screen and (min-width: 50rem) {
   .btn-hamburguer {
      display: none;
   }
}